footer.footer
    .grid
        .grid__row
            .grid__column-2-4
                h3.footer__heading Customer care
                ul.footer__list
                    li.footer-item
                        a.footer-item__link(href='#') Help Center
                    li.footer-item
                        a.footer-item__link(href='#') Email
                    li.footer-item
                        a.footer-item__link(href='#') Online shopping guide
            .grid__column-2-4
                h3.footer__heading About us
                ul.footer__list
                    li.footer-item
                        a.footer-item__link(href='#') Introduce
                    li.footer-item
                        a.footer-item__link(href='#') Become a partner
                    li.footer-item
                        a.footer-item__link(href='#') Terms of Service
            .grid__column-2-4.grid__column-2-4-none
            .grid__column-2-4
                h3.footer__heading Customer care
                ul.footer__list
                    li.footer-item
                        a.footer-item__link(href='#')
                            i.footer-item__icon.fa-brands.fa-facebook
                            | Facebook
                    li.footer-item
                        a.footer-item__link(href='#')
                            i.footer-item__icon.fa-brands.fa-instagram
                            | Instagram
                    li.footer-item
                        a.footer-item__link(href='#')
                            i.footer-item__icon.fa-brands.fa-telegram
                            | Telegram
            .grid__column-2-4
                h3.footer__heading Access on the app
                ul.footer__list
                    li.footer-item
                        a.footer-item__link(href='#')
                            i.footer-item__icon.fa-brands.fa-app-store
                            | App Store
                    li.footer-item
                        a.footer-item__link(href='#')
                            i.footer-item__icon.fa-brands.fa-google-play
                            | Google Play
    .footer__bottom
        .grid
            p.footer__text 2022 - Copyright belongs to our company NAM
            div.timing
                | Total load time: 
                span#client-time
                |  (client) + 
                span#server-time #{time}
                |  ms(server)
