html(lang="en")
    head
        title Login Form
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.4/css/all.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap')
        link(rel='stylesheet', href='css/login.css')
    .background
        .shape
        .shape
    form
        h3 Login Here
        label(for='username') Username
        input#username(type='text' placeholder='Email or Phone')
        label(for='password') Password
        input#password(type='password' placeholder='Password')
        button Log In
        .social
            .go
                i.fab.fa-google
                | Google
            .fb
                i.fab.fa-facebook
                | Facebook