.home-filter
    span.home-filter__label Sort by
    button.home-filter__btn.btn Popular
    button.home-filter__btn.btn.btn--primary Newest
    button.home-filter__btn.btn Best Selling
    .select-input
        span.select-input__label Price
        i.select-input__icon.fa-sharp.fa-solid.fa-caret-down
        // List options
        ul.select-input__list
            li.select-input__item
                a.select-input__link(href='#') Cheapest
            li.select-input__item
                a.select-input__link(href='#') Most Expensive