.grid__column-2
    nav.category
        h3.category__heading
            i.category__heading-icon.fa-regular.fa-list
            | Category
        ul.category-list
            li.category-item
                a.category-item__link(href='/') Home
            li.category-item
                a.category-item__link(href='/apple') Apple
            li.category-item
                a.category-item__link(href='/samsung') Samsung
            li.category-item
                a.category-item__link(href='/huawei') Huawei
            li.category-item
                a.category-item__link(href='/xiaomi') Xiaomi
            //- li.category-item
            //-     a.category-item__link(href='/todoList') Todo List

            //- .category-item--active