.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list{
    padding-left: 0;
    list-style: none;
}

.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover{
    color: var(--primary-color);
    transform: translateY(-1px);
}

.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 10px 0 0;
}

.footer__bottom{
    padding: 15px 0;
    background-color: #959a9f;
    margin-top: 50px;
}

.footer__text{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
}

.timing{
    font-size: 1.5rem;
    color: #3333CC;
    margin-left: 20px;
}

.tmp{
    font-weight: 600;
    font-size: 8rem;
}